body
{
  background-color:#ffcc00;
  font-family:Comic Sans MS, Comic Sans, cursive;
}

table 
{
  text-align: center;
}

tr
{
  width: 20px;
}

footer 
{
  position: absolute;
  bottom: 0;
}

.btn_number
{
  width: 90px;
  height: 90px;
  color: #ffcc00;
  border:4px solid gainsboro;
  background-color: black;
  font-size: 60px;
  cursor: pointer;
}

.btn_number_select
{
  width: 90px;
  height: 90px;
  color: #ffcc00;
  border:4px solid red;
  background-color: black;
  font-size: 60px;
  cursor: pointer;
}


.btn_number:hover 
{
  background-color: white;
  color: #ffcc00;
}

.btn_action
{
  background-color: #ffcc00;
  border-radius: 16px;
  text-align: center;
  font-size: 32px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 190px;
  height: 90px;
  border:10px solid gainsboro;
}

.btn_action:hover{
  background-color: white;
  color: #ffcc00;
}

.inline_block
{
  display: inline-block;
}

.header
{
  background-color: #0066ff;
  font-size: 90px;
  color: yellow;
  text-align: center;
}

.left_container
{
  width: 30%;
  height: 35em;
  align-content: center;

}

.left_container button 
{
  background-color: #4dc9c9;
  border-color: blue;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
  padding: 15px 32px;
  font-size: 3em;
  width: 140px;
  height: 100px;
  cursor: pointer;
} 

.left_container button:hover
{
  background-color: white;
  color: #ffcc00;
}

.left_container img
{
  width: 300px;
  height: 280px;
  vertical-align: top;
}

.middle_container
{
  width: 650px;
  height: 500px;
  background-color: #0066ff;
  vertical-align: top;
}

.right_container
{
  border: 8px solid #0066ff;
  height: 530px;
  width: 188px;
  vertical-align: top;
  margin-left: 10px;
  padding: 10px;
}